<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Notary{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="https://raw.github.com/mbr/draft-css/master/simple-ssbw.css">

<style type="text/css">
#tellme, .error {
	font-weight: bold;
	text-align: center;
}

form {
	text-align: center;
}

.fineprint {
	font-size: 0.8em;
}

.error {
	color: #c00;
}

.important {
	font-weight: bold;
}
</style>

<script type="text/javascript">
$(document).ready(function() {

});
</script>
</head>
<body>
{% block body %}
{% endblock %}
<div class="fineprint">Like notary? Get it on <a href="https://github.com/mbr/notary">GitHub</a>.</div>
</body>
</html>
